#textdomain wesnoth-tms
[unit_type]
    id=LCM3
    name= _ "The Cloaked Mage"
    gender=male
    race=human
    ignore_race_traits=yes
    image="units/random-enemy.png"
    profile="units/random-enemy.png"
    ellipse="misc/ellipse"
    facing=se
    [trait]
        id=JY Trait
        availability="musthave"
        male_name= _ "JY Trait"
        female_name= _ "female^JY Trait"
        description= _ "It's a JY!"
        [effect]
            apply_to=attack
            range=melee
            increase_damage=314%
        [/effect]
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=314%
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=314%
        [/effect]
        [effect]
            apply_to=movement
            increase=314%
        [/effect]
    [/trait]
    {MAGENTA_IS_THE_TEAM_COLOR}
    halo=halo/elven/nature-halo1.png:150,halo/elven/nature-halo2.png:150,halo/elven/nature-halo3.png:150,halo/elven/nature-halo4.png:150,halo/elven/nature-halo5.png:150,halo/elven/nature-halo6.png:150,halo/elven/nature-halo7.png:150
    hitpoints=100

    [movement_costs]
        deep_water=2
        shallow_water=2
        swamp_water=2
        flat=1
        sand=1
        forest=1
        hills=1
        mountains=2
        village=1
        castle=1
        cave=1
        frozen=2
        unwalkable=99
        impassable=99
        fungus=2
    [/movement_costs]

    [defense]
        deep_water=20
        shallow_water=20
        swamp_water=20
        flat=20
        sand=20
        forest=20
        hills=20
        mountains=20
        village=20
        castle=20
        cave=20
        frozen=20
        unwalkable=20
        impassable=20
        fungus=20
    [/defense]

    [resistance]
        blade=20
        pierce=20
        impact=20
        fire=20
        cold=20
        arcane=20
    [/resistance]

    [abilities]
        {ABILITY_SKIRMISHER}
        [regenerate]
            value=60
            id=jyregenerates
            name= _ "JY Regenerates"
            description= _ "The Cloaked Mage heals himself 60 HP per turn!"
            affect_self=yes
            poison=cured
        [/regenerate]
        [heals]
            value=-60
            id=jyaoe
            affect_allies=no
            affect_enemies=yes
            name= _ "JY's AoE"
            description=  _ "The Cloaked Mage zaps all enemies around him for 60 damage per turn!"
            affect_self=no
            [affect_adjacent]
                adjacent=n,ne,se,s,sw,nw
            [/affect_adjacent]
        [/heals]
    [/abilities]

    movement=8
    experience=200
    level=3
    alignment=neutral
    advances_to=null
    cost=100
    usage=mixed fighter
    description= _ "It seems that CM has returned for Marken again! But why? What are his motives?"+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_ARCANE}+{SPECIAL_NOTES_SKIRMISHER}

    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=60
        number=3
        icon=halo/elven/druid-healing5.png
    [/attack]
    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=60
        number=3
        icon=projectiles/fireball-impact-4.png
    [/attack]
    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=60
        number=3
        icon=projectiles/icemissile-n-5.png
    [/attack]
    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=60
        number=3
        icon=halo/elven/druid-healing5.png
    [/attack]
    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=fire
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=60
        number=3
        icon=projectiles/fireball-impact-4.png
    [/attack]
    [attack]
        name=Omniscience
        description=_"Omniscience"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=melee
        damage=60
        number=3
        icon=projectiles/icemissile-n-5.png
    [/attack]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo1.png
            blend_color=255,0,0
            blend_ratio=0.5
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo2.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo3.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo4.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo5.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo6.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo7.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
    [/attack_anim]
    [healing_anim]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo1.png
            blend_color=255,0,0
            blend_ratio=0.5
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo2.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo3.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo4.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo5.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo6.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/faerie-fire-halo7.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
    [/healing_anim]

	[extra_anim]
		flag=aoe
		start_time=0
        [frame]
            duration=100
            halo=halo/elven/ice-halo1.png
            blend_color=255,0,0
            blend_ratio=0.5
            sound=fire.wav
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo2.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo3.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo4.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo5.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo6.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo7.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo8.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
        [frame]
            duration=100
            halo=halo/elven/ice-halo9.png
            blend_color=255,0,0
            blend_ratio=0.5
        [/frame]
	[/extra_anim]
                
    [event]
        name=attacker_hits
        first_time_only=no

        [filter]
            type=LCM3
        [/filter]

        [animate_unit]
            [filter]
                x,y=$x1,$y1
            [/filter]

            flag=aoe
        [/animate_unit]
        
        [store_unit]
            [filter]
                [filter_adjacent]
                    x,y=$x1,$y1
                    is_enemy=yes
                [/filter_adjacent]
            [/filter]
            kill=no
            variable=aoetargets
        [/store_unit]

        {FOREACH aoetargets i}

        [if]
            [variable]
                name=aoetargets[$i].hitpoints
                greater_than=60
            [/variable]
            [then]
                {AOE_FLOATING_DMG $aoetargets[$i].x,$aoetargets[$i].y 60}
                {VARIABLE_OP aoetargets[$i].hitpoints add -60}
                [unstore_unit]
                    variable=aoetargets[$i]
                [/unstore_unit]
            [/then]
            [else]
                {AOE_FLOATING_DMG $aoetargets[$i].x,$aoetargets[$i] 60}
                [kill]
                    x,y=$aoetargets[$i].x,$aoetargets[$i].y
                    animate=yes
                [/kill]
            [/else]
        [/if]

        {NEXT i}

        {CLEAR_VARIABLE aoetargets}

        [redraw]
        [/redraw]
    [/event]
[/unit_type]
